
<!DOCTYPE html>
<html lang="en">
<head>
    <title>UP O'Clock</title>
    
    <link href="/images/timer.jpeg" rel="icon">
    <link href="/stylesheets/login.css" rel="stylesheet" />
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">   
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        
    </div>
    <h6 style="color: white;margin-top: 8%;"><marquee> <%= msg %></marquee></h6>
    <form action="./login" method="post"> 
    
        <h3>Welcome back...</h3>    

        <label for="email">Email</label>
        <input type="email"   name="email" id="username"  value="<%= cookies_email%>" required>

        <label for="password">Password</label>
        <input type="password"   name="password" id="password"  value="<%=cookies_password%>" required>

        
        <label class="checkbox-container">
            <input type="checkbox" name="check" id="check">
            <span class="checkmark"></span>
            Remember Me
          </label>
          
       

        <button type="submit" >Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>


</html> 

  
